img{
    width: 100%;
}

#container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.items{
    width: 30%;
}

#image{
    position: sticky;
    top: 0;
    width: 50%;
    height: 50vh;
    display: block;
    margin:50px auto;
    object-fit: cover;

}